.hero-section{
    background-color:#37517e ;
}
.navbar a{
    color: white !important;
}
.dropdown-menu a{
    color: black !important;
}
.animate-image{
    animation: animate 2s infinite;
}
@keyframes animate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
.text-blue{
    color: #37517e !important;
}
.gray-line{
    width: 15%;
    height: 2px;
    background-color: #e0e0e0;
    margin: auto;
}
.blue-line{
    width: 50px;
    height: 2px;
    background-color: #37517e;
    margin: auto;
}
.progress{
    height: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.d-flex{
    display: flex;
}
blue-p{
    background-color: #37517e !important; ;
}
.work-card{
  
    overflow: hidden;
   
}
.work-card:hover img{
    transform: scale(1.05);
    transition: transform 0.3s ease;

}
.content{
    z-index: 111;
}
.work-card:hover .content{
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}
.pis{
  
    background: linear-gradient(to right, rgba(255, 0, 0,0.5), rgba(255, 255, 0,0.7)),url('https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp') fixed;
}
.image-animation{
    overflow: hidden;
}
.overlay{
    bottom:-90px;
    transition: 0.8s ease;
}
.image-animation:hover .overlay{
    bottom: 0;
}
.social-icons{
    border-radius: 50%;
    width: 40px;
    height: 40px;
   display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}
.social-icons i:hover{
background-color: #37517e;
}
.bloger{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.bloger img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.location{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.location:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
